# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.Notifications.iml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Other
.idea
[Oo]bj
[Oo]bj/*
[Bb]in
[Bb]in/*
deploy
deploy/*
_ReSharper.*
*.csproj.user
*.Resharper.user
*.resharper
*.suo
*.cache
~$*
*.licx
*/obj