/Notifications/.dockerignore
.idea
wwwroot/lib/bootstrap
wwwroot/lib/jquery
wwwroot/lib/jquery-validation
wwwroot/lib/jquery-validation-unobtrusive
[Oo]bj
[Oo]bj/*
[Bb]in
[Bb]in/*
deploy
deploy/*
_ReSharper.*
*.csproj.user
*.Resharper.user
*.resharper
*.suo
*.cache
~$*
*.licx
*/obj