@model Participant

@{
    ViewData["Title"] = "Заявка принята";
}

    <div>
        <h1>@Model.Name, ваша заявка принята.</h1>
        <p>Накануне мы с вами дополнительно свяжемся.</p>
        @if (Model.Expected == true) {
            @:Для ваших пчёл будет выделен дополнительный улей. 
        }
        else { 
            @:На нашей конференции вы сможете приобрести отборных туркменских пчёл.
        }
    </div>
