@{
    ViewData["Title"] = "Пчеловоды России";
}

<div class="text-center">
    <h1 class="display-4">@ViewBag.Hello</h1>
    <div>
        <p>30 февраля у нас проходит конференция с приглашёнными гостями из Туркменистана.</p>
        <p>Если ты хочешь принять в ней участие, заполни форму:</p>
        <div class="btn btn-dark">
            @Html.ActionLink("Заявка участника", "RequestForm", new { id=1 }, new { @class = "app-btn" })
        </div>
    </div>
</div>